.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }

.sayHello{
  width: 300px;
  height: 300px;
  padding: 4px;
  color: white;
  margin:4px;
  float: left;
  background: orange;
  overflow: hidden;
}

.sayHello p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
}